<ion-header>
  <ion-toolbar color="primary">
    <ion-title>RutaEC - Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #loginForm="ngForm" (ngSubmit)="onLogin()">
    
    <ion-item class="ion-margin-bottom">
      <ion-input 
        label="Correo Electrónico" 
        labelPlacement="floating" 
        type="email" 
        name="email" 
        [(ngModel)]="email" 
        required
        email>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input 
        label="Contraseña" 
        labelPlacement="floating" 
        type="password" 
        name="password" 
        [(ngModel)]="password" 
        required>
      </ion-input>
    </ion-item>

    <!-- Banner para mensajes de error de validación o servidor -->
    <ion-card color="danger" *ngIf="errorMessage" class="ion-no-margin ion-margin-bottom">
      <ion-card-content class="ion-text-center">
        <ion-icon name="alert-circle-outline" style="font-size: 1.2rem; vertical-align: middle;"></ion-icon>
        <span style="margin-left: 8px;">{{ errorMessage }}</span>
      </ion-card-content>
    </ion-card>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="loginForm.invalid" 
      class="ion-margin-top">
      Ingresar
    </ion-button>

  </form>

  <ion-button expand="block" fill="clear" routerLink="/register" class="ion-margin-top">
    ¿No tienes cuenta? Regístrate aquí
  </ion-button>
</ion-content>