<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>RutaEC - Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
      {{ errorMessage }}
    </div>

    <ion-button expand="block" type="submit" [disabled]="registerForm.invalid" class="ion-margin-top">
      Registrarse
    </ion-button>
  </form>
</ion-content>